body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: 120px;
}
:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --lightslate: #8e8f99;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.hero {
  padding: 188px 0;
  background-color: #2e2f42;
  flex-shrink: 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-images.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1158px) {
  .hero {
    padding: 120px 0;
  }
}
.section-two {
  padding: 96px 0;
}
@media (max-width: 1158px) {
  .section-two {
    padding: 120px 0;
  }
}
.items-studio {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
}

.item-category {
  display: none;
}
@media (min-width: 768px) {
  .items-studio {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 0;
    margin: 0 auto;
  }
  .itemtwo {
    width: calc((100% - 48px) / 2);
    row-gap: 8px;
  }
}
@media (min-width: 1158px) {
  .items-studio {
    row-gap: 8px;
    padding-left: 0;
    margin: 0 auto;
  }
  .itemtwo {
    width: calc((100% - 72px) / 4);
    gap: 24px;
  }
  .item-category {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .icon-category {
    margin: 24px 100px;
  }
}
.heroh {
  font-size: 36px;
  text-align: center;
  line-height: 1.111;
  font-weight: 700;
  padding-top: 48px;
  margin: 0 auto;
  max-width: 496px;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .heroh {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    max-width: 496px;
  }
}
.captionst {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .captionst {
    justify-content: flex-start;
  }
}
@media (min-width: 1158px) {
  .captionst {
    font-size: 20px;
    line-height: 1.2;
    justify-content: flex-start;
  }
}
.section-three {
  display: none;
  padding-bottom: 120px;
}
.captions {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  padding-bottom: 76px;
  margin-bottom: 72px;
}
.wedoing {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0 auto;
}
.wedli {
  width: calc((100% - 48px) / 3);
  gap: 24px;
}
@media (min-width: 1158px) {
  .section-three {
    display: flex;
  }
}
.section-four {
  background: var(--cloud, #f4f4fd);
  padding: 120px 0;
}
.uls {
  background-color: var(--cloud);
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  padding-left: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.team-card {
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  width: 264px;
}
@media (min-width: 768px) {
  .uls {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-card {
    width: calc((100% - 48px) / 2);
    margin: 0;
  }
}
@media (min-width: 1158px) {
  .uls {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }
}
.team {
  padding: 32px 0;
  padding: 32px 0;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.helink {
  display: none;
  gap: 40px;
  padding-top: 24px;
  padding-left: 76px;
}
.nav {
  display: flex;
  align-items: center;
}
.address .list {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .address .list {
    flex-direction: column;
    margin-left: 122px;
  }
}
@media (min-width: 1158px) {
  .address .list  {
    gap: 40px;
    flex-direction: row;
    margin-left: 0;
  }
}
.studio-h {
  color: #2e2f42;
}
.logo {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  margin: 0 auto;
}
.studio {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
}
.nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 24px;
}
.nav-link {
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-current {
  position: relative;
  color: var(--ocean, #404bbf);
}

.nav-current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}
.address {
  display: none;
  font-style: normal;
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.btn-burgermenu {
  display: flex; 
  align-content: flex-end;
margin: 0;
margin-top: 24px;
margin-right: 16px;
}
.icon-burgermenu {
stroke: #2E2F42;
}
@media (min-width: 767px) {
  .icon-burgermenu {
    display: none;
  }
}
@media (min-width: 768px) {
  .navigator-panel {
    display: flex;
    justify-content: space-between;
  }
  .helink {
    display: flex;
    padding-top: 24px;
    padding-left: 76px;
   }
   .adr-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    
   }
   .address {
    display: flex;
    padding-left: 10px;
   }
}
@media (min-width: 1158px) {
 .helink {
  gap: 40px;
  padding-top: 24px;
  padding-left: 76px;
 }
 .address {
  padding-left: 255px;
 }
}
.btnh {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnh:hover,
.btnh:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.phero {
  padding-top: 96px;
}
.btnl {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .btnl {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.btn-all {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-all:hover,
.btn-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.butnl {
  gap: 24px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butnl:hover,
.butnl:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .row {
  align-content: center;
  }
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
    gap: 24px;
  }
  .textrow {
    width: calc((100% - 24px) / 2);
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
}
@media (min-width: 1158px) {
  .textrow {
    width: calc((100% - 48px) / 3);
  }
}
.cart-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cart-img {
  position: relative;
  overflow: hidden;
}
.cart-img-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cart-link:hover,
.cart-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cart-link:hover .cart-img-p,
.cart-link:focus .cart-img-p {
  transform: translateY(0%);
}
.pimg {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.team-card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: 264px;
}
@media (max-width: 767px) {
  .team-card {
    margin: 0 auto;
    margin-bottom: 72px;
  }
}
.list-tram {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-right: 40px;
}
.item-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.link-team {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team:hover,
.link-team:focus {
  background-color: #404bbf;
}
.icons-team {
  fill: #f4f4fd;
}

.subjectp {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
  margin-bottom: 8px;
}
.containerp {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.parp {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
  text-align: center;
}
@media (min-width: 768px) {
  .parp {
    justify-content: flex-start;
    text-align: left;
  }
}
.section-customers {
  padding: 120px 0;
}
.customers-title {
  color: var(--navyblue, #2e2f42);
  margin: 0;
  margin-bottom: 72px;
  font-size: 36px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  text-align: center;
}
.list-customers {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
}
.link-customer {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}
.link-customer:hover,
.link-customer:focus {
  border-color: #404bbf;
  color: #404bbf;
  fill: #404bbf;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-customers {
  fill: currentColor;
  width: 168px;
  height: 88px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .item-customers {
  width: calc((100% - 32px) / 2);
  }
}
@media (min-width: 768px) {
  .list-customers {
    gap: 24px;
    row-gap: 72px;
  }
  .item-customers {
    width: calc((100% - 72px) / 3);
  }
}
@media (min-width: 1158px) {
  .list-customers {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .item-customers {
    width: calc((100% - 120px) / 6);
  }
}
.logof {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 16px;
}
.studiof {
  color: #f4f4fd;
}
.textp {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .logof {
    display: inline-block;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
  }
  .textp {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
  }
}
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
@media (min-width: 768px) and (max-width: 1157px) {
  .fot-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
}
@media (min-width: 1158px) {
  .fot-two {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: space-between;
  align-items: baseline;
}
}
.footer-logo-p {
 flex-shrink: 0;
}
@media (min-width: 768px) {
  .footer-logo-p {
    margin: 0;
    margin-right: 120px;
  }
}
.foot-two {
  margin: 0;
}
.footer-paragraph {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-top: 72px;
  margin-bottom: 16px;
  color: #ffffff;
}
.list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.item-footer {
  width: 40px;
  height: 40px;
  margin: 0;
  margin-bottom: 16px;
}
.link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  background-color: #31d0aa;
}
.icon-footer {
  fill: #f4f4fd;
}
@media (min-width: 1158px) {
.footer-paragraph {
  justify-content: flex-start;
}
}
.subs-container {
  margin: 0;
  margin-bottom: 16px;
}
.subscribe {
  display: flex;
  justify-content: center;
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 16px;
}

.form-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  row-gap: 16px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .subs-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 160px;
    margin-top: 72px;
  }
  .subscribe {
    justify-content: flex-start;
    margin-left: 80px;
  }
  .form-email {
    flex-wrap: nowrap;
  justify-content: flex-start;
    margin-left: 80px;
    margin-bottom: 132px;
    gap: 24px;
    margin-top: 16px;
  }
}
@media (min-width: 1158px) {
  .subs-container {
    display: block;
    margin: 0;
    margin-bottom: 160px;
    padding-left: 80px;
}
  }
  .subscribe {
    justify-content: center;
  }
  @media (min-width: 768px) {
    .subscribe {
      margin-left: 80px;
      justify-content: flex-start;
    }
  }
  .form-email {
    flex-wrap: nowrap;
  justify-content: flex-start;
    margin-left: 80px;
    margin-bottom: 132px;
    gap: 24px;
  }
  @media (max-width: 767px) {
    .form-email {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 0;
    }
  }
.label-footer {
  display: flex;
    justify-content: center;
    color: #ffffff; 
}
.form-footer {
  width: 360px;
height: 40px;
flex-shrink: 0;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  opacity: 0.3;
  border-radius: 4px;
  border: 1px solid var(--white, #FFF);
  filter: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .form-footer {
  max-width: 264px;
  height: 40px;
  flex-shrink: 0;
  }
}
@media (min-width: 1158px) {
  .label-footer::placeholder {
    color: var(--white);
  }
  .label-footer {
    max-width: 264px;
    color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
  }
  .form-footer {
    width: 264px;
   height: 40px;
   color: #ffffff; 
  }
}
.form-footer::placeholder {
  color: #ffffff;
}
.btn-footer {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}
.icon-subs {
  margin-left: 16px;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-modal {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 16px;
}
.form-container {
  margin: 0;
  margin-bottom: 8px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin: 0;
  margin-bottom: 4px;
}
.icon-modal {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2E2F42;
}
.form-input:focus + .form-icon {
  fill: #4D5AE5;
} 
.textarea-container {
  margin: 0;
  margin-bottom: 16px;
}
.textarea-coment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-coment:focus {
  border-color: #4d5ae5;
}
.checkbox-container {
  margin: 0;
  margin-bottom: 24px;
}
.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.span-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox-input:checked + .label-checkbox > .span-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.link-checkbox {
  color: var(--iris, #4d5ae5);
  text-decoration: underline;
}
.btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-bottom: 24px;
}
.modal-btn {
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.06em;
  display: inline-flex;
  padding: 16px 32px;
  margin: 0;
  margin-bottom: 24px;
  margin-left: 145px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.close:hover,
.close:focus {
  background-color: #404bbf;
  border: none;
}
.modal:hover,
.modal:focus {
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
